[project]
	description = ExtJS 4 MVC Complex Dashboard Example
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sanket Kulkarni (Sanket792)
[access "refs/for/refs/*"]
	read = group user/Sanket Kulkarni (Sanket792)
	push = group user/Sanket Kulkarni (Sanket792)
	label-Code-Review = -2..+2 group user/Sanket Kulkarni (Sanket792)
	label-Verified = -1..+1 group user/Sanket Kulkarni (Sanket792)
	rebase = group user/Sanket Kulkarni (Sanket792)
	removeReviewer = group user/Sanket Kulkarni (Sanket792)
	submit = group user/Sanket Kulkarni (Sanket792)
[access "refs/heads/*"]
	read = group user/Sanket Kulkarni (Sanket792)
	create = group user/Sanket Kulkarni (Sanket792)
	push = +force group user/Sanket Kulkarni (Sanket792)
	pushMerge = group user/Sanket Kulkarni (Sanket792)
[access "refs/tags/*"]
	push = group user/Sanket Kulkarni (Sanket792)
	push = +force group user/Sanket Kulkarni (Sanket792)
